.table-container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
    flex: 1;

    .table-wrapper {
        height: calc(100% - 56px);
        overflow-y: auto;
    }

    .table-actions {
        display: flex;
        flex-direction: row-reverse;
        padding: 20px;
    }
}