.table-container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
    flex: 1;

    .table-wrapper {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: calc(100% - 56px);
        overflow-y: auto;
    }

    .table-actions {
        display: flex;
        padding: 20px;
        justify-content: space-between;

        .filter {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 50%;
            box-sizing: border-box;

            .select {
                position: relative;
                width: 30%;
                margin: auto 0;
            }

            .input {
                padding-left: 20px;
                flex-grow: 1;
                padding-right: 20px;
                margin: auto 0;
            }

            button {
                margin: auto 0;
            }
        }

        .button-actions {
            display: flex;
            flex-direction: row;
            height: 100%;

            button {
                margin: auto 0;
                margin-left: 20px;
            }
        }
    }

    .spinner-container {
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;


        mat-spinner {
            margin: auto;
        }
    }
}